
body {
    background: url('./assets/images/melbourne.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
}

.welcome {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(127deg, #0700b8cc 0%, #00ff88cc 100%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    

    h1 {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        font-weight: 500;
        font-size: 5vw;    
        margin-bottom: 0;
    }

}