
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/static/Raleway-Black.ttf');
    font-style: normal;
    font-weight: 600;
}